<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>shop</title> 
</head>
<body>
<form action="/" method="post">
  <div class="form-group">
    <label for="product">Enter your product:</label>
    <input type="text" name="product" class="form-control" placeholder="" id="product">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
<p><%= @product %></p>
</body>
</html>